<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style title="~/css/site.css"></style>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css"/>
        </environment>
    <environment names="Staging,Production">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Alaska.edu", "Uaa", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Helpful Link 1", "Welcome", "Home")</li>
                    <li>@Html.ActionLink("Helpful Link 2", "", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="center">
        <div class="border">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#login">Login</a>
                </li>
                <li><a data-toggle="tab" href="#transcript">Transcript</a></li>
                <li><a data-toggle="tab" href="#goal">Goal</a></li>
                <li><a data-toggle="tab" href="#calendar">Calendar</a></li>
                <li><a data-toggle="tab" href="#comments">Comments</a></li>

            </ul>

            <div class="tab-content" style="text-align:center">
                <div id="login" class="tab-pane fade in active">
                  @Html.Partial("~/Views/Home/Login.cshtml")
                </div>
                <div id="transcript" class="tab-pane fade">
                    @Html.Partial("~/Views/Home/Transcripts.cshtml")
                </div>
                <div id="goal" class="tab-pane fade">
                    @Html.Partial("~/Views/Home/Goal.cshtml")
                </div>
                <div id="calendar" class="tab-pane fade">
                  @Html.ActionLink("CalendarEvent", "Calendar", "Home")
                  <!--Html.Partial("~/Views/ManditoryAdvising/Calendar.cshtml")-->

                </div>
                <div id="comments" class="tab-pane fade">
                   @Html.Partial("~/Views/Home/Comments.cshtml")
                </div>
            </div>
        </div>
    </div>
    <!--<div align="right">
        <ul class="nav nav-tabs">
            <li>Html.ActionLink("Login", "Login", "ManditoryAdvising", new { area = "" }, new { class = "login" })</li>
            <li>Html.ActionLink("Transcript", "Transcript", "ManditoryAdvising")</li>
            <li>Html.ActionLink("Goal", "Goal", "ManditoryAdvising")</li>
            <li>Html.ActionLink("Calendar", "Calendar", "ManditoryAdvising")</li>
            <li>Html.ActionLink("Comments", "Comments", "ManditoryAdvising")</li>
        </ul>
    </div>-->
    <div align="center">
        @this.RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eric, Eric, and Non-Eric, Inc.</p>
        </footer>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>

